version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: trixenora-db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: trixenora-server
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
    environment:
      - NODE_ENV=development
      - MONGODB_URI=mongodb://admin:password@mongodb:27017/trixenora
      - JWT_SECRET=your_jwt_secret_key
    volumes:
      - ./server:/app
      - /app/node_modules
    command: npm run dev

volumes:
  mongo_data:
