@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #0f172a;
}

body {
  color: #e2e8f0;
  background-color: #0f172a;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}

input:disabled,
textarea:disabled,
select:disabled {
  @apply opacity-50 cursor-not-allowed;
}
